._footer_contact {
    padding-top: 100px;
    padding-bottom: 100px;


    ._footer_contact_context {
        @apply flex items-start justify-between;


        ._footer_contact_context_left {


            ._footer_contact_context_left_heading {
                @apply flex flex-col;
                font-size: 40px;
                line-height: 48px;
                font-weight: 600;
                color: var(--global-section-heading-text-color);
                margin-bottom: 2rem;
            }

            ._footer_contact_context_left_lead {
                margin-bottom: 2rem;

                p {
                    @apply flex flex-col;
                    font-size: 18px;
                    color: var(--global-section-lead-color);
                }
            }
        }

        ._footer_contact_context_right {
            flex-basis: 600px;

            ._footer_contact_context_left_heading {
                @apply flex flex-col;
                margin-bottom: 2rem;
                font-size: 40px;
                line-height: 48px;
                font-weight: 600;
                color: var(--global-section-heading-text-color);
            }
        }
    }
}



// >> Footer Contact form
._footer_contact_form {


    ._form_group {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        label {
            display: block;
            font-size: 20px;
            color: var(--global-section-heading-text-color);
        }

        ._form_control {
            box-shadow:  0 1px 0 #ffffff54;
            background-color: transparent;
            width: 100%;
            outline: none;
            color: #fff;
            padding: 0.5rem 0;

            &._file {
                display: none;
            }
        }


        ._input_file_and_submit_button_group {
            @apply flex items-center gap-4;


            ._input_file_group {
                flex: 1;
                

                ._input_file_opener {
                    @apply flex items-center justify-between;

                    ._about_project_attach_title {
                        display: block;
                        font-size: 20px;
                        color: var(--global-section-heading-text-color);   
                    }

                    ._file_label {

                        span {
                            @apply flex items-center justify-center;
                            font-size: 18px;
                            color: #6d6d6d;
                        }   
                    }
                }
            }

            ._submit_button_group {
                button {
                    @apply flex items-center justify-center;
                    font-size: 25px;
                    color: var(--primary-color);
                }
            }
        }
    }
}

