._testimonials_and_blog {
    padding-top: 100px;
    padding-bottom: 100px;
    @apply flex flex-col;
    gap: 120px;
    background-color: var(--testimonial-and-blog-bg-color);
}


@import "./blog/blog.scss";
@import "./testimonial/testimonial.scss"

