:root {
    --body-bg-color: #333646;

    --primary-color: #FFC25C;
    --secondary-color: #424657;

    --global-link-text-color: #FFC25C;
    --global-sub-heading-text-color: #999AA2;
    --global-section-heading-text-color: #EBEBEC;
    --global-section-lead-color: #CBCCD0;

    --social-text-color: #ffffff;


    // --navbar
    --navbar-bg-color: #333646;
    --navbar-link-text-color: #adb1c7;
    --navbar-link-text-active-color: #ffffff;


    // --showcase
    --showcase-bg-color: #333646;

    --showcase-name-text-color: #EBEBEC;
    --showcase-name-text-bottom-line-bg-color: #FFC25C;
    --showcase-social-text-color: #ffffff;

    --showcase-sub-heading-text-color: #999AA2;
    --showcase-heading-text-color: #EBEBEC;
    --showcase-lead-text-color: #CBCCD0;



    // contact
    --contact-bg-color: #252734;



    // team 
    --team-bg-top-color: #252734;
    --team-bg-bottom-color: #333646;
    --team-card-bg-color: #424657;
    --team-card-active-bg-color: #FFAF29;
    --team-card-heading-color: #ECECEE;
    --team-card-project-number-text-color: #CFD0D4;


    // section 2
    --section-2-bg-color: #333646;


    --testimonial-and-blog-bg-color: #252734;



    // section 3
    --section-3-bg-color: #252734;



    // section 4
    --section-4-bg-color: #333646;

}