._tech_brand {
    padding-top: 80px;
    padding-bottom: 40px;

    ._tech_brand_context {
        max-width: 1100px;
        margin-inline: auto;
        @apply flex flex-col gap-9;

        ._tech_brand_items {
            @apply flex justify-between items-center gap-9;

            ._tech_brand_item {
                // @apply flex items-center justify-center;
            }
        }

    }
}